﻿<div class="card product-card text-bg-dark mx-3 rounded-0 border border-0">
    <img src="images/bild2Car.jpg" class="card-img rounded-0" alt="...">
    <div class="card-img-overlay">
        <h5 class="card-title">Card title</h5>
    </div>
</div>
