
@page "/"
@inject UIService Service


<NavComponent UICartService="Service" />
<MenuComponent />

@* <CardListComponent /> *@

 
<div class="d-flex">
    <div id="viewport" class="d-flex vh-100" style="width:100%;">
        <CascadingValue Value="Service" Name="Service">
            <AsideComponent OnChange="OnChange" />
            <div class="col-md-10">
                <CarouselComponent />
                <ProductMainComponent OnChange="OnChange" />
            </div>
        </CascadingValue>
    </div>
</div>


@code 
{
    void OnChange()
    {


    }

}