@page "/"
@using Motorcenter.UI.Service

@inject UIService Service

<NavComponent />
<MenuComponent/>
<div class=" d-flex">
     <CascadingValue Value="Service" Name="Service">
        <AsideComponent  OnChange="OnChange"/>
        <CarouselComponent />
      </CascadingValue>

</div>


 <div id="viewport" class="d-flex vh-100">
   
    <ProductComponent />
</div> 

@code {

    void OnChange()
    {

    }
}
