@using Motorcenter.UI.Services
@page "/"
@inject UIService Service

<NavComponent />
<MenuComponent/>

<div class=" d-flex">

    <AsideComponent  OnChange="OnChange"/>
    <div class="mr-auto">
        <CascadingValue Value="Service" Name="Service">
            <AsideComponent OnChange="OnChange" />
            
        </CascadingValue>
    </div>
    
</div>

 <div id="viewport" class="d-flex vh-100">
   
    <ProductComponent />
</div> 


@code 
{
    void OnChange()
    {

    }

}