@page "/"

<NavComponent />
<MenuComponent/>

<div class=" d-flex">

    <AsideComponent  OnChange="OnChange"/>
    <div class="justify-content-start">
        <CarouselComponent />
        <CardListComponent />
    </div>
    
</div>

 <div id="viewport" class="d-flex vh-100">
   
    <ProductComponent />
</div> 

@code {

    void OnChange()
    {

    }
}
