@page "/"

<NavComponent />
<MenuComponent/>
<div class=" d-flex">

    <AsideComponent  OnChange="OnChange"/>
    <CarouselComponent />


</div>


 <div id="viewport" class="d-flex vh-100">
   
    <ProductComponent />
</div> 

@code {

    void OnChange()
    {

    }
}
