@page "/"

<NavComponent />
<MenuComponent/>
<div class=" d-flex">

    <AsideComponent />
    <CarouselComponent />


</div>


 <div id="viewport" class="d-flex vh-100">
   
    <ProductComponent />
</div> 