
@page "/"
@inject UIService Service

<NavComponent />
<MenuComponent/>

<div class=" d-flex">

    <CascadingValue Value="Service" Name="Service">
        <AsideComponent OnChange="OnChange" />
    </CascadingValue>
    
    <div class="mr-auto">
    <CarouselComponent/>
    <CardListComponent/>
    </div>
    
</div>

 <div id="viewport" class="d-flex vh-100">
   
    <ProductComponent />
</div> 


@code 
{
    void OnChange()
    {

    }

}