@page "/"

<header class="d-flex justify-content-around">

    <div> <img src ="~/Images/MotorCenter.png" alt=" logo" /></div>
    <div> Sök </div>
    <div> Count/Cart </div>
    

        
</header>