

<nav class="navbar d-flex justify-content-between mx-3 my-1">
    <a class="navbar-brand" href="#"><img src="images/Newton MotorCenterLogo.png" alt="Logo image" /></a>
    <div class="d-flex justify-content-between mx-3">
        <div class="mx-1 my-2">Cart</div>
        <div class="position-relative">
            <button id="cart-button" type="button" class="btn btn-outline-success"><i class="bi bi-cart2"></i></button>
            <div class="cart-count bg-danger text-white rounded-circle position-absolute">0</div>
        </div>
    </div>
</nav>
